@keyframes leftSlide{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


h1{
    font-family: 'Heebo';
    color:white;
}
label{
    color:white;
    font-size: 20px;
}
form{
    display: inline-block;
}
.textform{
    justify-content: right;
    text-align: right;
}
.welcome{
    font-size: 200px;
    text-align: left;
    color:#BACCD6;
}
body{
    background-color: #1a1a1a  ;
    scroll-behavior: smooth;
    /*background-image: url(https://media2.giphy.com/media/QTc4NvhYNlyT7Q32uj/giphy.gif);*/
}
p{
    color: white;
    font-size: 30px;
    margin: 20px;
}   
.parentContainer{
    position:relative;
    text-align:center;
    border-bottom: 1px solid #da4747;
}
.container{
    text-align:center;
    width: 100%;
    position: relative;
}
.center{
    animation: .5s ease-out 0s 1 leftSlide;
    font-size: 175px;
    font-family: 'Heebo';
    color:#F6F0ED;
    position:absolute;
    text-align: center;
    bottom:0px;
    letter-spacing: 10px;
}
.centerUnderline{
    margin-left: 25px;
    animation: 1.4s ease-out 0s 1 leftSlide;
    font-size: 175px;
    font-family: 'Heebo';
    color:#F6F0ED;
    position:absolute;
    text-align: center;
    bottom:0px;
    letter-spacing: 10px;
    text-decoration: 3px underline; 
    text-underline-offset: .12em;
}
.navli{
    float:right;
    font-family: 'Heebo';
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 22px 50px;
    text-decoration: none;
    transition: background-color 0.4s ease-out 20ms;

}
ul{
    list-style-type: none;
    overflow:hidden;
    background: rgb(25, 18, 18);
}
.hidden{
    display:none;
    color: white;
    margin: 20px;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
}

.devlog{
    border: 1px solid #da4747;
    height: 350px;
}


.active{
    background-color: gray;
    color: white;
}

.w3container{
    animation-delay:4s;
}
.navbar{
    top:-20px;
    position: fixed;
    z-index:990;
    padding: 0%;
    margin: 0%;
    width:100%;
}
.progressBarCont{
    padding: 0%;
    margin: 0%;
    position: fixed;
    z-index: 999;
    top: 60px;
    width: 100%;
    background: gray;
    height: 3px;
}
.progressBar{
    position: fixed;
    height: 3px;
    background-image: linear-gradient(to right, red, purple);
    width: 0%;

}

li :hover{
    background-color: gray;
}
.logolink{
    border: 1px solid transparent
}
.logolike :hover{
    border-color: gray;
}
.logo{
    width: 200px;
    height: 60px;
    margin-top: 5px;
}
/*
.logo :hover{
    border-color: gray;
}
*/
.introImage{
    width:100%;
    height: 300px;
    opacity:90%;
    display: flex;
}
.myphoto{
    border: 1px solid rgb(218, 71, 71);
    width: 250px;
    height: 250px;
    padding: 0px;
    margin-left: 30px;
    margin-bottom: 90px;
    float: middle;
    display: inline-flex;
}
.generalheader{
    color:white;
    font-size:70px; 
    margin: 20px;
    font-family: 'Nunito Sans';
    letter-spacing: 2px;
}
.intro1{
    word-wrap: break-word;
    width: 900px;
    margin:10px;
    padding:5px;
    line-height: 60px;
    font-family: 'Nunito Sans';
}
.flex{
    display: flex;
    margin:5px;
}

.media-icons{
    display:flex;
    justify-content: space-evenly;
    height: 150px;
    width: 100%;
}
.media-icon{
    border: 1px solid #da4747;
    transition: background-color 0.3s ease-out 20ms;
    border-radius: 6px;
    height: 150px;
    width: 150px;
    filter: grayscale(40%);
}
.flexboxParent{
    display: flex;
}
.flexboxParent2{
    display: flex;
    width: 100%;
    background-color: #121212;

}
.hoverbutton :hover{
    background-color: #6f81b7;

}
.column{
    text-align: center;
    border: 2px solid #da4747;
    flex: 3;
    padding: 5px;
    height: 500px;
    letter-spacing: 3px;
    transition: background-color 0.3s ease-out 20ms;

}
.flexboxParent :hover{
    background-color: #282828;
}
.column1{
    margin-left: 5%;
}
.column3{
    margin-right: 5%;
}
.skill-logo{
    height: 300px;
    width: 90%;
    justify-content: center;
    margin: auto;
    text-align: center;
    border: 1px solid #da4747;
    padding: 15px;
    filter: grayscale(20%);
}
.myskills{
    background-color: #121212;
}
.skill-desc{
    margin-left: 20px;
}
.otherskill{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 40px;
    background-color: #121212;
    border: 1px solid #da4747;
    transition: background-color 0.3s ease-out 20ms;
}
.otherskills :hover{
    background-color: #1a1a1a;
}
.otherskills{
    background-color: #121212;
    border-top: 1px solid #da4747;
}
.media-icons :hover{
    background-color: #282828;
}
.view-all-container{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.view-all-container :hover{
    box-shadow: inset;
    border-color: #da4747;
    background-color: #282828;
}

.abt-me-view-all{
    display: inline-block;
    padding: 10px;
    width: 90%;
    transition: background-color 0.3s ease-out 20ms;
    border-color:#da4747;
    background-color: #121212;
    justify-content: center;
    vertical-align: middle;
    border-radius: 10px;
    color:beige;
    letter-spacing: 1px;
    font-family: 'Nunito Sans';
    

    position: absolute;
    left: 60px;
    top: 700px;
}

/*
hr{
    height: 2px;
    border: 0;
    border-top: 3px solid #da4747;
    margin: 1em 0;
    padding: 0;
}
*/



.portfolio-work{
    text-align: center;
    border: 1px solid #da4747;
    margin: 5%;
    height: 700px;
    width: 90%;
}

.scrollCont :hover{
    background-color: #363636;

}
.scroll-to-top{
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: #282828;
    color:white;
    border-color: #da4747;

    font-size: 32px;
    z-index: 100;
    transition: background-color 0.4s ease-out 20ms;

}



.devMenu{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

}
.devMenu :hover{
    background-color: #282828;
}
.devMenuItem{
    justify-content: right;
    margin-left: 0px;
    width: 16%;
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Nunito Sans';
    letter-spacing: 1px;
    transition: background-color 0.3s ease-out 20ms;
    border-color:#da4747;
    background-color: #121212;
    color: white;
    border-radius: 5px;
}
/* Hidden Tabs on Dev Log Page */
.homeLog{
    display:none;
    background-color: #121212;
    margin: 2%;
    border: 1px solid #da4747;
}
.aboutLog{
    display:none;
    background-color: #121212;
    margin: 2%;
    border: 1px solid #da4747;
}
.portfolioLog{
    display:none;
    background-color: #121212;
    margin: 2%;
    border: 1px solid #da4747;

}
.skillsLog{
    display:none;
    background-color: #121212;
    margin: 2%;
    border: 1px solid #da4747;

}
.devLogLog{
    display:none;
    background-color: #121212;
    margin: 2%;
    border: 1px solid #da4747;

}

.devBulletPoints{
    color: white;
    font-size: 30px;
    margin: 20px;
}
.devContentList {
    list-style: none;
  }
  
.devContentList .devBulletPoints::before {
    content: "\2022";  
    color: white; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }
  .underlined{
    margin: auto;
    border-bottom: 1px solid white;
    width: 800px;
    padding-bottom: 2px;
  }